$font-stack: Helvetica,
sans-serif;
$secodery-backgroud-color:white;
$primary-background-color :black;
$items-color-background:#9BF00B;
$items-color-text: #054B16;
$primary-font-color:black;
$main-color:black;
$main-color-white:white;
$font-size:15px;
$transition:all 0.5s ease;