.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 16px;
}

.picker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 8px;
  padding: 2px;
  border: solid 1px #bbb;
  cursor: pointer;
}

.color-picker-red {
  background-color: #dc143c;
}
.color-picker-blue {
  background-color: #4169e1;
}
.color-picker-green {
  background-color: #3cb371;
}
.color-picker-yellow {
  background-color: #ffd700;
}
.color-picker-purple {
  background-color: #cc0099;
}

.size-picker {
  text-align: center;
}
.size-picker-xs {
  font-size: 12px;
}
.size-picker-sm {
  font-size: 16px;
}
.size-picker-md {
  font-size: 24px;
}
.size-picker-lg {
  font-size: 32px;
}
.size-picker-xl {
  font-size: 46px;
}